.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e2e8f0;
  background-size: cover;
  height: 40px;
  width: 50%;
}
.footer-heading {
  color: #475569;
  font-size: 25px;
  font-family: 'Roboto';
}
